# Ignore Python build files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
env/
venv/

# Data & logs
/data/
app/journal/
*.log

# Local configs
.env          # <-- ignore real secrets
.env.*        # ignore other env variants
!.env.template  # <-- keep template in repo

# GitHub Actions cache
.github/workflows/*.yml~

#Backup files
*.bkp*
