fastapi==0.115.0
uvicorn==0.30.6
pydantic==2.8.2
python-dateutil==2.9.0.post0
pandas==2.2.2
MetaTrader5==5.0.5260
requests
python-dotenv
websockets
wsproto
numpy>=1.26.4
loguru==0.7.2
matplotlib==3.9.2
anyio==4.4.0
scipy>=1.14.0
